* {
    color: #212135;
    letter-spacing: normal;
}

.business-text {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.card-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 100%;
    color: #212135;
    font-family: 'SF UI Display';
  }
  
  .card-subtitle {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    font-family: 'SF UI Display';
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 33px; /* adjust the height based on your text size */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .card-priority {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 2px;
  }
  
  .card-priority-none {
    display: none;
  }
  .card-priority-text {
    font-size: 14px;
    font-weight: 700;
  }
  
  .card {
    cursor: pointer;
    margin: 0px;
  }

.card-priority {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 2px;
}

.category-text {
    max-width: 75%; 
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;    
    padding: 0px;
}

.category-count {
    background-color: #CB3131;
    color: #FFFFFF;
    padding: 4px 11px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
    line-height: 10px;
    max-height: 20px;
}

.category-active-style {
  background-color: #212135;
}


.input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 15px;
}
.icon {
  margin: auto 20px;
  padding: auto;
  cursor: pointer;
  height: 20px;
  width: 20px
}

