.card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    color: #212135;
    font-family: 'SF UI Display';
    margin-bottom: 10px
  }
  
  .card-subtitle {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    font-family: 'SF UI Display';
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 33px; /* adjust the height based on your text size */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .card-priority {
    width: 100%;
    height: 25px;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 2px;
  }
  
  .card-priority-text {
    font-size: 14px;
    font-weight: 700;
  }
  
  .card {
    cursor: pointer;
    margin: 0px;
  }


  .category-text {
    max-width: 75%; 
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;    
    padding: 0px;
}

.category-count {
    background-color: #CB3131;
    color: #FFFFFF;
    padding: 4px 11px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px;
    line-height: 10px;
    max-height: 20px;
}


.category-active-style {
  background-color: #212135;
}