.media-img {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
  }
  
  .card-name {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    width: 90%;
    height: 14px; /* adjust the height based on your text size */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .card-date {
    font-size: 14px;
    line-height: 14px;
    color: #212135;
    font-weight: 300;
  }
  
  .card-view {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    align-self: center;
  }
  
  .category-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #409DBA;
    color: #212135;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 9px;
  }
  
  .news-name {
    font-size: 20px;
    line-height: 20px;
    color: #212135;
    font-weight: 700;
    width: 95%;
    word-wrap: break-word;
  }
  
  .news-date {
    font-size: 14px;
    line-height: 14px;
    color: #212135;
    font-weight: 300;
  }
  
  .news-view {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    align-self: center;
  }
  
  .news-description-style {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    font-weight: 300;
    margin-top: 20px;
    width: 100%
  }
  
  .tags-head-style {
    font-size: 20px;
    line-height: 20px;
    color: #212135;
    font-weight: 700;
    margin-top: 60px
  }
  
  .tags-group {
    display: inline-flex;
    margin-top: 10px;
  }
  
  .tag {
    background-color: #D9D9D9;
    padding: 8px 11px;
    color: #212135;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
  }