.tabs-item {
    text-transform: unset !important;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    width: 100px;
    height: 100%;
    padding: 0;
    margin-right: 30px;
    white-space: nowrap;
  }

  .v-tab {
    min-width: unset !important;
  }
.tabs-item::before {
  background-color: transparent !important;
}
  .key {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 300;
    color: #333333;
  }

  .value {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    color: #333333;
    margin-left: 5px;
  }

  .card-text {
    letter-spacing: normal;
    padding: 0;
    line-height: 23.4px;
    font-weight: 300;
    font-size: 18px;
    width: 350px;
    color: #333333;
  }

  .card-subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #333333;
    margin-top: 15px;
    letter-spacing: normal;
  }

  .card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #212135;
    margin-top: 5px;
    letter-spacing: normal;
  }

  .card-price {
    font-size: 18;
    line-height: 18px;
    font-weight: 700;
    color: #409DBA;
    margin-top: 5px;
    letter-spacing: normal;
  }