* {
    letter-spacing: normal;
  }

.tabs-item {
    text-transform: unset !important;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    height: 100%;
    padding: 0;
    margin-right: 30px;
    white-space: nowrap;
}

.v-tab {
    min-width: unset;
}

  .tabs-item::before {
  background-color: transparent !important;
}



  .media-img {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    z-index: 1;
    border-radius: 5px;
  }
  .media-icon {
    top: 40%;
    left: 45%;
    position: absolute;
    z-index: 99;
    align-items: center;
    color: white;
    height: 32px;
    width: 32px
  }
  
  .dark-div {
    position: absolute;
    background-color: black;
    top: 0;
    width: 100%;
    height: 330px;
    z-index: 10;
    opacity: 74%; /* 74% in production */
    text-align: center;
    align-items: center;
  }
  
  .media-name {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    width: 90%;
    height: 15px; /* adjust the height based on your text size */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .media-date {
    font-size: 14px;
    line-height: 14px;
    color: #212135;
    font-weight: 300;
  }
  
  .media-view {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    align-self: center;
  }
  
  .media-channel {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: #409DBA
  }
  
  .media-priority-div {
    width: 60px;
    height: 20px;
    border-radius: 3px;
    background-color: #FABB18;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .media-priority-name {
    font-size: 12px;
    line-height: 12px;
    color: #212135;
    font-weight: 700
  }

  .news-name {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    width: 90%;
    height: 14px; /* adjust the height based on your text size */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .news-date {
    font-size: 14px;
    line-height: 14px;
    color: #212135;
    font-weight: 300;
  }
  
  .news-view {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #212135;
    align-self: center;
  }